 <footer id="footer" >
            <p><a href="/login" style="color: #25D366">Login</a> or <a href="/registration" style="color: #25D366;">Sign Up</a> now to post!</p>
            <p id="contact">Click <a href="mailto:pervnairobi.overbid492@simplelogin.com" style="padding: 8px 12px; border: 1px solid #cecece; border-radius: 4px;">here to email us</a>.</p>
            <p>&copy; <%= new Date().getFullYear() %> Escort Service</p>
    </footer>
   