 <footer id="footer" >
            <p><a href="/login" style="color: #25D366">Login</a> or <a href="/registration" style="color: #25D366;">Sign Up</a> now to post!</p>
            <p id="contact">Click <a href="mailto:shale.online@gmail.com">here to email us</a>.</p>
            <p>&copy; <%= new Date().getFullYear() %> Escort Service</p>
    </footer>
   