 <footer id="footer" >
            <p><a href="/login" style="color: #25D366">Login</a> or <a href="/registration" style="color: #25D366;">Sign Up</a> now to post!</p>
            <p>Listed on <a href="https://nairobi-connect.ke/sports">Nairobi Connect Entertainment Business Pages</a></p>
            <p id="contact">Click <a href="mailto:pervnairobi.overbid492@simplelogin.com" style="text-decoration: underline;">here to email us</a>.</p>
            <p>&copy; <%= new Date().getFullYear() %> Escort Service</p>
    </footer>
   